.nav-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }
  a
  {
    text-decoration: solid;
    &:hover
    {
      transform: scale(1.4);
      transition: transform 1s
    }
  }
  .active{
    transform: scale(1.4);
    color: whitesmoke;
  }
  